.input {
	width: 240px;
	height: 48px;
	margin-top: 55px;
	padding: 17px 16px;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	text-align: right;
	color: var(--dark-blue);
	border: 1px solid var(--grey-2);
	border-radius: 8px;
	
	&::placeholder {
		color: var(--blue);
		font-weight: bold;
		font-size: 12px;
		line-height: 14px;
		text-align: left;
	}
}