.d-flex{
	display: flex;
    align-items: center;
    justify-content: space-between;
}


.rdt_TableHeader{
	display: none !important;
}
.tranche_txt1{
	font-size: 14px;
	line-height: 21px;
	letter-spacing: 0.01em;
	color: #203546;
	text-align: left;
	margin-bottom: 5px;

	b{
		width: 120px;
		font-weight: bold;
		display: inline-block;
	}
}
.cdo-datatable{
	background: transparent;
	margin-bottom: 30px;

	.left-img-txt{
		padding-left: 25px;
		font-weight: bold;
	}	
	.btn-transfer{
		padding: 5px 15px;
    	color: var(--blue);
    	font-family: Roboto;
    	font-weight: bold;
    	font-size: 12px;
    	line-height: 14px;
    	cursor: pointer;
	}
	button{
		font-size: 12px;
    	line-height: 14px;
    	margin-top: 0px;
	}
	.rdt_TableHeadRow, .rdt_Table, .rdt_TableRow{
		background: transparent;
	}
	.rdt_TableHeadRow, .rdt_TableRow{
		padding: 25px 0;
		border-bottom: 0.5px solid #A8BECB !important;
	}
	.rdt_TableCell, .rdt_TableCol{
		padding: 0px 5px;
		text-align: left;
	}
	.rdt_TableCell{
		font-size: 14px;
	}
	.rdt_TableCol{
		font-size: 12px;
	}
}

.cdo-accordion{

  .card-header{
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    letter-spacing: 0.01em;
    font-size: 14px;
    border-color: #A8BEC8;
  }
  .card{
    background: transparent;
    margin-left: 0px;
    margin-right: 10px;
    color: #203546;
    border-left: none;
    border-right: none;
    border-color: #A8BEC8;
  }
  .card.active{
  	background: #FBFBFB;
  	.card-header{
 	 	background: #FBFBFB;
  	}
    .card-header svg{
      	transform: rotate(180deg);
    }
  }
  .card-header, .card-body{
  	padding: 20px 30px;
  }
}
.yp-additional-info{
	font-size: 12px;
	font-weight: normal;
	margin-right: 10px;
}
.yp-additional-info.total-info{
	font-size: 14px;
	font-weight: bold;
	border-bottom: 0.5px solid #A8BEC8;

}
.cdo-accordion .card-header, .yp-additional-info{
  	text-align: left;
  	padding: 20px 30px;
  	*:nth-child(1), *:nth-child(2){
  		flex-basis: 20%;
  	}
  	*:nth-child(3){
  		flex-basis: 40%;
  	}
  	*:nth-child(4){
  		flex-basis: 3%;
  		text-align: right;
  	}
}

.nav-seniorTranche.tab-list{
	.tab-item{
		font-size: 14px !important;
	}
}

.nav-juniorTranche.tab-list{
	.tab-item{
		font-size: 14px !important;
	}
}

.modal-dialog {
	max-width: 625px !important;
	.modal-content {
		background-color: #FFFFFF;
		border: 1px solid #E6E6E6;
		border-radius: 8px;
		padding: 40px 50px;
		.modal-header {
			padding: 0;
			border-bottom: none;
			position: relative;
			> div {
				display: flex;
				font-weight: bold;
				font-size: 14px;
				line-height: 21px;
				padding: 45px 0 15px 0;
				border-bottom: 2px solid #203546;
				> div:first-child {
					font-size: 18px;
				}
			}
			.back {
				position: absolute;
				top: 0;
				left: 0;
				background-color: #fff;
				font-weight: normal;
				font-size: 14px;
				line-height: 21px;
				span {
					background-repeat: no-repeat;
					padding-left: 25px;
				}
			}
			.left-img-txt {
				padding-left: 25px;
				margin-left: 25px;
			}
			.close {
				margin: 0;
				padding: 0;
				font-weight: 400;
				color: #545E67;
			}
		}
		.modal-body {
			padding: 0;
			.modal-desc {
				font-weight: normal !important;
				font-size: 11px !important;
				line-height: 16px !important;
				color: #989898 !important;
			}
			.input-group-prepend {
				:hover {
					cursor: pointer;
				}
			}
			.desc-section {
				font-size: 14px;
				line-height: 21px;
				letter-spacing: 0.01em;
				color: #203546;
				margin: 24px 0 48px 0;
				p:first-child {
					margin-bottom: 16px;
				}
				p {
					span {
						font-weight: bold;
						font-size: 19px;
					}
				}
			}
		}
		.modal-footer {
			padding: 0;
			border-top: none;
			button {
				margin: 0;
				background: #017CC9;
				border-radius: 6px;
				font-weight: bold;
				font-size: 12px;
				color: #F6FBFC;
				line-height: 14px;
				font-style: normal;
			}
		}
	}
}
.deposit-modal, .withdrawal-modal {
	.modal-body {
		.modal-desc {
			margin-top: 32px;
			margin-bottom: 12px;
		}
		.clearfix {
			> div {
				padding: 15px 20px;
				background-color: #FFFFFF;
				border: 1px solid #E5E5E5;
				box-sizing: border-box;
				border-radius: 8px;
				:hover {
					cursor: pointer;
				}
				.media {
					img {
						margin-right: 20px;
						visibility: hidden;
					}
					.media-body {
						color: #203546;
						h5 {
							font-weight: bold;
							font-size: 14px;
							line-height: 21px;
							margin-bottom: 5px;
						}
						p {
							font-weight: normal;
							font-size: 14px;
							line-height: 21px;
						}
					}
		  		}
			}
			> div.active {
				border: 1px solid #017CC9;
				.media {
					img {
						margin-right: 20px;
						visibility: visible;
						position: relative;
						top: 3px;
					}
		  		}
			}
	  	}
	}
	.modal-footer {
	  	margin-top: 48px;
	}
}
.deposit-step2-modal {
	.modal-content {
		.modal-header {
			> div {
				margin-bottom: 32px;
			}
		}
		.modal-body {
			#date-picker-desktop-helper-text {
				display: none;
			}
			.input-group {
				background-color: #FFFFFF;
				border: 1px solid #E6E6E6;
				box-sizing: border-box;
				border-radius: 8px;
				max-width: 240px;
				width: 100%;
				margin-top: 6px;
				margin-bottom: 4px !important;
				#deposit-amount {
					font-weight: bold;
					font-size: 12px;
					line-height: 14px;
					align-items: center;
					color: #017CC9;
					background-color: #fff;
					border: none;
					padding: 17px;
				}
				.form-control {
					font-weight: bold;
					font-size: 18px;
					line-height: 21px;
					align-items: center;
					text-align: right;
					color: #203546;
					border: none;
					padding: 24px;
				}
			}
			.date-section {
				margin-top: 25px;
				.modal-desc {
					margin-bottom: 5px;
				}
				.max-days div {
					font-weight: normal;
					font-size: 14px;
					line-height: 21px;
					letter-spacing: 0.01em;
					padding: 13px 0 11px 0;
					border-bottom: 1px solid #E5E5E5;
				}
				.select-date {
					.MuiFormControl-root {
						margin: 0;
						.MuiInput-root {
							background-color: #FFFFFF;
							border: 1px solid #E6E6E6;
							border-radius: 8px;
							input {
								font-style: normal;
								font-weight: 500;
								font-size: 14px;
								line-height: 16px;
								padding: 12px 16px;
							}
							button {
								margin-right: 0;
							}
						}
						.MuiInput-root:before, .MuiInput-root:after {
							border-bottom: none !important;
						}
					}
				}
			}
			.duration-section {
				.modal-desc {
					margin-top: 24px;
					margin-bottom: 6px;
				}
				.duration {
					display: flex;
					justify-content: space-between;
					text-align: center;
					div {
						background-color: #FFFFFF;
						border: 1px solid #E6E6E6;
						box-sizing: border-box;
						font-size: 14px;
						line-height: 16px;
						text-align: center;
						color: #203546;
						border-radius: 8px;
						padding: 12px 30px;
					}
					div:hover {
						cursor: pointer;
					}
					div.active {
						border: 1px solid #017CC9;
						color: #017CC9;
					}
				}
			}
			.detail-section {
				background: #FFFFFF;
				border: 1px solid #E6E6E6;
				box-sizing: border-box;
				border-radius: 8px;
				padding: 16px 24px;
				margin-top: 24px;
				font-size: 14px;
				line-height: 21px;
				letter-spacing: 0.01em;
				color: #203546;
				.title {
					font-weight: 500;
					font-size: 14px;
					align-items: center;
					color: #203546;
					line-height: 16px;
					padding-bottom: 16px;
					border-bottom: 1px solid #E5E5E5;
					.float-right {
						position: relative;
						img:hover {
							cursor: pointer;
						}
						.setting-panel.open {
							display: block;
						}
						.setting-panel.close {
							display: none;
						}
						.setting-panel {
							padding: 24px;
							position: absolute;
							box-shadow: 0px -2px 4px rgba(193, 193, 193, 0.35), 1px 2px 6px rgba(193, 193, 193, 0.25);
							background-color: #FFFFFF;
							border-radius: 8px;
							z-index: 100;
							min-width: 345px;
							top: 30px;
    						right: -75px;
							opacity: 1;
							> p {
								font-weight: 500;
								font-size: 14px;
								line-height: 16px;
								color: #203546;
								padding-bottom: 16px;
								border-bottom: 1px solid #E5E5E5;
								margin-bottom: 16px;
							}
							.tolerance-section {
								.modal-desc {
									margin-bottom: 6px;
								}
								.tolerance div {
									background-color: #FFFFFF;
									border: 1px solid #E6E6E6;
									box-sizing: border-box;
									border-radius: 8px;
									padding: 12px;
									font-size: 14px;
									line-height: 16px;
									text-align: center;
									color: #203546;
									width: 20%;
								}
								.tolerance div:hover {
									cursor: pointer;
								}
								.tolerance div.active {
									border: 1px solid #017CC9;
									color: #017CC9;
								}
							}
							.deadline-section {
								margin: 24px 0 48px;
								.modal-desc {
									margin-bottom: 6px;
								}
								input {
									background-color: #FFFFFF;
									border: 1px solid #E6E6E6;
									box-sizing: border-box;
									border-radius: 8px;
									font-weight: normal;
									font-size: 14px;
									line-height: 16px;
									color: #203546;
									padding: 12px;
									min-width: 75%;
								}
							}
							.button-section {
								button {
									margin-top: 0;
								}
								.btn-apply {
									color: white;
									background-color: #017CC9;
								}
							}
							.up-arrow {
								background-color: white;
								transform: rotate(45deg);
								position: absolute;
								width: 10px;
								height: 10px;
								top: -6px;
								right: 80px;
								box-shadow: 0px -2px 4px rgba(193, 193, 193, 0.35), 1px 2px 6px rgba(193, 193, 193, 0.25);
								z-index: 99;
							}
						}
					}
				}
				.clearfix:nth-child(2) {
					margin: 16px 0;
				}
			}
	  	}
	}
}
.redeem-modal, .transfer-modal {
	.row {
		margin-top: 32px;
		.col {
			p:nth-child(2) {
				padding: 17px 0 8px 0;
				font-size: 14px;
				line-height: 21px;
				letter-spacing: 0.01em;
				color: #203546;
				border-bottom: 1px solid #E5E5E5;
			}
		}
	}
}
.transfer-modal {
	.address-section {
		margin-top: 24px;
		margin-bottom: 50px;
		.modal-desc {
			margin-bottom: 6px;
		}
		input {
			background: #FFFFFF;
			border: 1px solid #E6E6E6;
			box-sizing: border-box;
			border-radius: 8px;
			width: 100%;
			padding: 12px 16px;
			font-weight: 500;
			font-size: 14px;
			line-height: 16px;
			display: flex;
			align-items: center;
			color: #203546;
		}
	}
}
.withdrawal-modal {
	.modal-body {
		.modal-more {
			font-size: 11px;
			line-height: 16px;
			letter-spacing: 0.01em;
			text-decoration-line: underline;
			color: #017CC9;
			margin-top: 12px;
		}
		.clearfix {
			display: flex;
    		justify-content: space-between;
			> div {
				max-width: 245px;
			}
		}
	}
}
.withdrawal-step2-modal {
	.modal-content {
		.modal-header {
			> div {
				margin-bottom: 32px;
			}
		}
		.modal-body {
			.input-group {
				background-color: #FFFFFF;
				border: 1px solid #E6E6E6;
				box-sizing: border-box;
				border-radius: 8px;
				max-width: 240px;
				width: 100%;
				margin-top: 6px;
				margin-bottom: 4px !important;
				#withdrawal-amount {
					font-weight: bold;
					font-size: 12px;
					line-height: 14px;
					align-items: center;
					color: #017CC9;
					background-color: #fff;
					border: none;
					padding: 17px;
				}
				.form-control {
					font-weight: bold;
					font-size: 18px;
					line-height: 21px;
					align-items: center;
					text-align: right;
					color: #203546;
					border: none;
					padding: 24px;
				}
			}
		}
	}
}
