:root {
	--home-backgorund: #F6FBFC;
	--white: #ffffff;
	--blue: #017CC9;
	--blue-1: #3F799B;
	--blue-2: #54B3EF;
	--dark-blue: #203546;
	--light-blue: #C0E5FD;
	--grey: #A8BECB;
	--grey-1: #DAE6ED;
	--grey-2: #E6E6E6;
	--grey-3: #989898;
	--grey-4: #4C6579;
	--grey-5: #FBFBFB;
	--grey-6: #E3E7EA;
	--grey-7: #9B9C9D;
	--light-grey: #EDF4F5;
	--green: #27AE60;
}